/* Fonts Style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif !important;
    overflow-x: hidden;
    background-color: #eef2ff !important;
}

/* Fonts Style */
.thin {
    font-weight: 100 !important;
}

.light {
    font-weight: 300 !important;
}

.regular {
    font-weight: 400 !important;
}

.medium {
    font-weight: 500 !important;
}

.semi-bold {
    font-weight: 600 !important;
}

.bold {
    font-weight: 700 !important;
}

.x-bold {
    font-weight: 800 !important;
}

/* Fonts color */
.secondary-color {
    color: #acacac !important;
}

/* Fonst Size */
.font-10 {
    font-size: 15px !important;
}

.font-20 {
    font-size: 20px !important;
}

/* Colors BG Theme */
.navbar-color {
    background-color: #9772fb;
}

.footer-color {
    background-color: #9772fb;
}

/* Colors Text Theme */
.primary-text {
    color: #000000;
}

.secondary-text {
    color: #acacac;
}

.color-theme {
    color: #9772fb !important;
}

.color-theme-2 {
    color: #b8b5ff;
}

.search-color {
    color: #b8b5ff;
}

.orange-text {
    color: #ffbc97;
}

/* Components */
.tab-icon {
    fill: #9772fb !important;
}
.btn-login {
    font-weight: 600 !important;
    text-decoration: none;
    background-color: white;
    color: #9772fb;
}

.btn-login:hover {
    font-weight: 600;
    text-decoration: none;
    background-color: #b8b5ff;
    color: white;
}

.btn-kirim {
    font-weight: 600 !important;
    text-decoration: none;
    background-color: white;
    color: #9772fb;
}

.btn-kirim:hover {
    font-weight: 600;
    text-decoration: none;
    background-color: #b8b5ff;
    color: white;
}

.hr-color {
    background-color: #b8b5ff !important;
}

.icon-size {
    font-size: x-large;
}

.label-search {
    position: absolute;
}

.rounded-sm {
    border-radius: 10px;
}

.shadow-card {
    box-shadow: 1px 1px 1px 1px rgba(12, 12, 12, 0.2);
}
.product-price {
    color: #764af1;
}

.total-sales {
    color: #ff9f45;
}

.shop-location {
    color: #465881;
    font-size: 14px;
}

#carouselExampleCaptions {
    margin-top: 80px;
}

#nama-toko {
    font-weight: 400 !important;
}

/* Media Screen Responsive */
@media only screen and (max-width: 1200px) {
    .last-card {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 992px) {
    #icon-cart {
        visibility: hidden;
    }

    #kategori {
        margin-top: 6rem;
    }

    #konten {
        max-width: 70%;
    }
    .card {
        margin-top: 1.5rem;
    }
    .first-card {
        margin-top: 0rem;
    }
    .last-card {
        margin-top: 1.5rem;
    }
}
@media only screen and (max-width: 768px) {
    #login-button {
        position: relative;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 818px) {
    #konten {
        max-width: 50%;
    }
}
