/* Fonts Style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: #eef2ff !important;
}

/* Fonts Style */
.semi-bold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

/* Fonts color */
.secondary-color {
    color: #acacac !important;
}

/* Colors BG Theme */
.navbar-color {
    background-color: #9772fb;
}

/* Colors Text Theme */
.primary-text {
    color: #000000;
}

.secondary-text {
    color: #acacac;
}

.search-color {
    color: #b8b5ff;
}

.orange-text {
    color: #ffbc97;
}

/* Components */
.btn-login {
    font-weight: 700 !important;
    text-decoration: none;
    background-color: white;
    color: #9772fb;
}

.btn-login:hover {
    font-weight: 700;
    text-decoration: none;
    background-color: #b8b5ff;
    color: white;
}

.icon-size {
    font-size: x-large;
}

.label-search {
    position: absolute;
}

.rounded-sm {
    border-radius: 10px;
}

.shadow-card {
    box-shadow: 1px 1px 1px 1px rgba(12, 12, 12, 0.2);
}
.product-price {
    color: #00b0ff;
    font-weight: 400;
}

.total-sales {
    color: #f7d716;
    font-weight: 400;
}

.shop-location {
    color: #465881;
    font-weight: 400;
    font-size: 12.5px;
}

.name-shop {
    font-weight: 600;
}

#nama-toko {
    font-weight: 400 !important;
}

/* Media Screen Responsive */
@media only screen and (max-width: 1200px) {
    .last-card {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 992px) {
    #icon-cart {
        visibility: hidden;
    }

    #kategori {
        margin-top: 6rem;
    }

    #konten {
        max-width: 70%;
    }
    .card {
        margin-top: 1.5rem;
    }
    .first-card {
        margin-top: 0rem;
    }
    .last-card {
        margin-top: 1.5rem;
    }
}
@media only screen and (max-width: 768px) {
    #login-button {
        position: relative;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 818px) {
    #konten {
        max-width: 50%;
    }
}
